* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

div {
  margin: 4em auto;
}

.you {
  position: absolute;
  margin: 0;
  font-size: 0.8em;
}

.text {
  width: 400px;
  max-width: 85%;
  line-height: 1.5;
  text-align: left;
  white-space: pre-wrap;
}